Find us on  <a href="http://getsatisfaction.com/traydrcom">getsatisfaction.com</a>

<br />
<br />
Follow us on <%= link_to "stocktwits","http://stocktwits.com/traydrDOTcom" %>
<br />
<br />
Follow us on <%= link_to "twitter","https://twitter.com/traydrDOTcom" %>

<br />
<br />
Contact us via email: <a href="mailto:traydr+support@gmail">traydr+support@gmail.com</a>