<p text-align="center" align="center" class="content-title">Frequently Asked Questions</p>

<p class="faq-question">
  What is traydr.com?

</p>

traydr.com is service to communicate with people who want to find a trading system to follow and for people to publish their trading system.

<p class="faq-question">
  How does it work?

</p>

a trader creates a system on traydr.com (it's free!) and they publicizes it via whatever method they choose, their blog, stocktwits account, twitter.  Users find their system and subscribe to it ( in the near future there will be an option to set a price for subscription, right now all systems are free).  When the system creator wants to send out a message, whether it be position change, nightly watchlist or publish research, the subscribers will get an email.  Simple!

<p class="faq-question">
  So it's like a blog or newsletter?

</p>

In that you have an editor and reader yes but traydr.com adds what is missing in the stock trading newsletter world: reviews and an easy, reputable payment system ( the payment system will go live when traydr.com comes out of beta and we have tested it thoroughly ).  It's pretty annoying to sign up for newsletter and pay for it and find that its pretty useless.  Reviews, feedback from people who have bought it or tried it out changes that.

<p class="faq-question">
  If I sign up for a paying system is there any money-back guarantee?

</p>

subscription can be cancelled at any time.  15-day money back guarantee.

<p class="faq-question">
  What kind systems are you offering?

</p>

The range of systems available are as diverse as each trader is.  There is a system to fit every budget and style.

<p class="faq-question">
  I have a system that people would follow, why should I use traydr.com to publish it?

</p>

There is quite a gap between good traders and good traders that monetize their system.  This is mainly because monetizing your knowledge is tough to do without significant investment and infrastructure ( creating a Point-of-Sale system, marketing, webserver maintenance, personnel to handle feedback).  Your market expertise and knowledge is valuable to you and valuable to other people.  A trading system is something that pays for itself, why not monetize it?  Think of traydr.com as your next step in becoming a market professional.

<p class="faq-question">
  What does traydr.com get out of it?

</p>

We have to keep the lights running in the place and all the services we use aren't free.  Our cut is 30% of revenue from paid systems.  More expensive systems may be able to get a discount.  Free systems will always be free so we don't get paid until you get paid and there are no setup or up-front costs.


<p class="faq-question">
How do I create a system?
</p>

go  <%= link_to "here",:controller=>"systems",:action=>"new" %>

<p class="faq-question">
  So I have setup my system, how do I get subscribers?
</p>

It's time to market yourself.  If you don't have a blog, get one.  Use your stocktwits or twitter account to send out to your followers, buy google ad words, buy ads.  Reviews are the real key here.  Subscribers respond best to people who have already done what they are thinking about doin.  Try offering your system for free and people may just pick it up and once you get a few reviews then start asking people to pay for it. We have our own marketing that drives viewers to our site and they find system using criteria such as "popular" or "price".  Categories for systems will be introduced soon.

<p class="faq-question">
  So I have created my system and I have paying subscribers, when do I get paid?

</p>

We will PayPal the money to you at the email address you signed up with when the money owed is greater than $50 or every month, whichever comes first.

<p class="faq-question">
  I have further questions, how do I contact someone?

</p>

go <%= link_to "here", :controller=>"dashboard", :action=>"contact" %>












