<p>
  Here are my systems and alerts
</p>

<%= link_to 'Find One...', :controller=>'systems' %> <br/>

<p> Do you have a trading system?  Create it on traydr
  <%= link_to ' here... ', :controller=>'systems',:action=>'new' %>
</p>
