
<p class="faq-question">
What is traydr.com?
</p>
traydr.com is place where people come to find trading systems to follow, and for people to publish their trading system.

<p class="faq-question">
 Why should I join traydr.com?
</p>

There are many sites out there were successful financial personalities have a presence ( twitter, stocktwits, investorshub, kaching, covestor ) to name a few.  These sites are great at getting your name out there and some of them, like covestor or kaching, have the possibility of you monetizing your expertise by allowing people to invest alongside you.  Unfortunately they get to pick and choose who gets to do this.  You could be ineligible because you don't have enough followers, you trade stocks in too small of a market cap, you trade on foreign exchanges.  The problem is they are getting to decide whether you make money or not.  Here at traydr.com, it's entirely up to you.
<p class="faq-question">
How does it work?
</p>

Traders, from beginners to market makers come to traydr.com looking for newsletters and financial research.  Some are looking for free newsletters and some are looking for high-end financial research on any facet of the market.  After you [register], [setup] a system for others to subscribe to.  Give it any name you choose, a description, and a price.  All of which can be changed later.  Once this is done, time to get the word out there.  Tweet it out, post it on facebook, link to it in your covestor or kaching account.  When you have research to publish, when you are making a trade, or are publishing a watchlist you log into traydr.com and create an alert.  traydr.com sends the subscribers to your system an email  with your alert / watchlist / research.  We take care of all the infrastructure and logistics.


<p class="faq-question">
Where does the monetization come in?
</p>

You can set any price for your system.  For subscribers the first month is free, after that they will be charged monthly for whatever price you set.  traydr.com takes a fee (usually about 25%, maybe more, maybe less depending on price).


<p class="faq-question">
How does this compare to the other monetization options?
</p>

At places like kaching or covestor, you pull in a management fee minus whatever their site wants to take.  Usually this ends up being about 1%-2% of assets managed to you.  This works out that if you have over $1 million in assets under management (only a handful on those sites do) you get about $10,000 per year.  Making it pretty difficult to justify the costs.      On traydr.com, you set the price for what your skills are worth.  If you think your research is worth $10 a month, then you need less than 100 subscribers to make what the top grossing person on kaching is making right now.  Get a 1000 subscribers for your monthly $10 newsletter?  Well then you are pulling in six digits per year by doing what you are doing already.  How many people following you on twitter, on covestor, on stocktwits are willing to give up 2 lattes a month for quality financial research?

<p class="faq-question">
Can I setup a free system?
</p>

Yes.  You can have a free system and it will cost you nothing.  There is no setup or maintenance fees, it's 100% free.



<p class="faq-question">
I have more questions</p>


Try our <a href="/faq">FAQ</a> or <a href="/contact">contact us</a>.


