
<p class="faq-question">
What is traydr.com?
</p>
traydr.com is place where people come to find trading systems to follow, and for people to publish their trading system.

<p class="faq-question">
Why should my newsletter have a presence on traydr.com?
</p>


Simply put, this is where people come to find newsletters.  They come to find biotech picks, energy plays, forex information, and penny stocks.  We receive quite a bit of traffic so you will get subscribers by simply having a presence here.  Many of your future subscribers are already subscribers to other newsletters on traydr.com.

<p class="faq-question">
I've created a system, now what?
</p>


time to promote it!  Take the url at the top of your system page (usually something along the lines of http://traydr.com/systems/123 ) and tweet it out, post it on facebook and put the html from the system administer page on your website or blog.  This HTML can be found on Dashboard>Systems I have created>Pick your System .


<p class="faq-question">
How much does it cost?</p>


It's free!  There are no setup or maintenance costs whatsoever.  If you decide to  charge people for your system then we take a cut depending upon how much the system costs but if you're system is free then it is no cost to you.

<p class="faq-question">
How do I create a system?</p>


It's simple and can be done in seconds.  Create an account, verify it, go to <%= link_to "the create page",:controller=>"systems",:action=>"new" %>, fill out the description and it's ready to be promoted.



<p class="faq-question">
I have more questions</p>


Try our <a href="/faq">FAQ</a> or <a href="/contact">contact us</a>.




