<p class="content-title"><h1 class="welcome-title">Welcome to traydr.com, where you can follow the market makers</h1></p>

<br />
<br />
<p>It always helps to have the professionals at your disposal.  Here at traydr.com you get to see what those with experience are trading.  Receive emails, sms (coming soon), research from those in the know.  Know when they make a trade.  Get your trading up to the next level by watching those who are already there. </p>
<br />

<p class="content-title">How it works</p>
<br/>
<p>Find a system that suits you.  Equities, trend-following, value trading, commodities, ETFs and more; there is a system and strategy for everyone.  Subscribe to the system.  Receive emails, SMS (coming soon) when they make a trade or publish research.  It's that easy.  <%= link_to "learn more.",:controller=>"dashboard",:action=>"faq" %></p>

<br />



<div class="two-column-action" id="find-a-system">
  <div class="inner-emph"><span class="content-title">Find a system to follow</span>
  <br />
  <span>
    Systems range from market makers sending out top newsletters to free newsletters just starting out.
  </span>
    <br />
    <br />

<p class="giant-link" style="text-align:center;" >  <span class="start-button"><%= link_to '', :controller=>'systems' %></span>
</p></div></div>

<div class="two-column-action" id="create-a-system" >
  <div class="inner-emph"><span class="content-title">Create a system to follow</span>
  <br />
  <span>
    Monetize your market knowledge and trading ability or just get your name out there with a free system
  </span>
    <br />
    <br />

  <p class="giant-link"> <span class="start-button"><%= link_to '', :controller=>'systems',:action=>'create' %></span></p></div>
</div>
