<p>Welcome to traydr.com.  Where you can follow the market makers</p>

<br />

<div id="find-a-system">
  <span class="sub-title">Find a system to follow</span>
  <br />
  <span>
    System range from market makers sending out top newsletters to free newsletters just starting out.
  </span>                               <br />

<span style="text-align:center;" >  <%= link_to "Start",:controller=>"systems" %>
</span></div>

<div id="create-a-system" >
  <br />
  <span class="sub-title">Create a system to follow</span>
  <br />
  <span>
    Monetize your market knowledge and trading ability or just get your name out there with a free system
  </span>                               <br />

  <%= link_to "Start",:controller=>"systems",:action=>"new" %>
</div>
